Boundless_API_PERMANENT_TOKEN=<< your permanent token here>>
Boundless_INSTANCE_ID=<ID>

# Optional params:
# Boundless_BASE_URL=< your shop url, i.e. http://www.myshop.com >
# Boundless_PRODUCTS_IMAGE_PROPORTION=

# For dev team:
# Boundless_API_BASE_URL=https://api.rick.dev.Boundless-commerce.com
# Boundless_S3_PREFIX=dev-rick
# Boundless_MEDIA_SERVER=https://dev-img.Boundless-commerce.com